<footer class="k">
    <div class="">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-info-circle" aria-hidden="true"></i>North Pole - About us</a>
    </div>
</footer>