@using COMP2139_Assignment1.Areas.NorthPole.Models

@{
    @inject SignInManager<NorthPoleUser> SignInManager
    @inject UserManager<NorthPoleUser> UserManager
    @using Microsoft.AspNetCore.Identity
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><img class="nav-image" src="~/img/Logo2.png" alt="Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex ">
            <ul class="navbar-nav align-items-center flex-grow-1 justify-content-end">
                <!--Search-->
                @* <form class="d-flex" asp-controller="Home" asp-action="GeneralSearch" method="get">
                    <input class="form-control" type="text" placeholder="Seach" name="searchString">
                    <select class="form-control btn btn-secondary dropdown-toggle" name="searchType">
                        <option value="Flights">Flights</option>
                        <option value="Cars">Cars</option>
                        <option value="Hotels">Hotels</option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> *@
                <li class="nav-item">
                    <a class="nav-link " asp-area="NorthPole" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="NorthPole" asp-controller="Flights" asp-action="Index"><i class="fa-solid fa-plane"></i> Flight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="NorthPole" asp-controller="Hotels" asp-action="Index"><i class="fa-solid fa-hotel"></i> Hotel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="NorthPole" asp-controller="Cars" asp-action="Index"><i class="fa-solid fa-car"></i>Car</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                                    <li class="nav-item">
                    <a class="nav-link " asp-area="NorthPole" asp-controller="Home" asp-action="About"><i class="fa-solid fa-circle-question"></i> About</a>
                </li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <input type="submit" class="bttn button-dark padding" value="Log Out"  style="cursor:pointer" />
                    </form>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link " asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="NorthPole" asp-controller="Home" asp-action="About"><i class="fa-solid fa-circle-question"></i> About</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>