@model Flight

@{
    ViewData["Title"] = "Create Flight";
}

<h1>AddFlight</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class=" center-screen">
        <form asp-action="Create" class="d-flex flex-column col col-md-3 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex flex-column">
                <label asp-for="FlightNumber" class="control-label mt-3"></label>
                <input asp-for="FlightNumber" class="input-one col-12 " />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="Airline" class="control-label mt-3"></label>
                <input asp-for="Airline" class="input-one " />
                <span asp-validation-for="Airline" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="DepartureDate" class="control-label mt-3"></label>
                <input type="date" asp-for="DepartureDate" class="input-one" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="ArrivalDate" class="control-label mt-3"></label>
                <input type="date" asp-for="ArrivalDate" class="input-one" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="DepartureTime" class="control-label mt-3"></label>
                <input type="time" asp-for="DepartureTime" class="input-one" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="ArrivalTime" class="control-label mt-3"></label>
                <input type="time" asp-for="ArrivalTime" class="input-one" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="Price" class="control-label mt-3"></label>
                <input asp-for="Price" class="input-one" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="From" class="control-label mt-3"></label>
                <input asp-for="From" class="input-one" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="To" class="control-label mt-3"></label>
                <input asp-for="To" class="input-one" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <label asp-for="Seats" class="control-label mt-3"></label>
                <input asp-for="Seats" class="input-one" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 center-screen">
                <input type="submit" value="Add Flight" class="bttn button-one w-250" />
                <a class="bttn button-two w-250 mt-3" href="javascript:history.go(-1)">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
