@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Manage your account</h1>

<div class="">
    <hr />
    <div class="row flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 mt-5">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
