@model RoomBooking

@{
    ViewData["Title"] = "Edit Booking";
}

<h1>Edit</h1>

<h4>Room Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="RoomId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookedStartDate" class="control-label"></label>
                <input asp-for="BookedStartDate" class="form-control" />
                <span asp-validation-for="BookedStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookedEndDate" class="control-label"></label>
                <input asp-for="BookedEndDate" class="form-control" />
                <span asp-validation-for="BookedEndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="bttn button-one mt-2 w-250" value="Confirm" />
                <a class="bttn button-two mt-2 w-250" href="javascript:history.go(-1)">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
