@*
*@
@{
	<div class="d-flex w-100 h-70v justify-content-between align-items-center">
		<div class="d-flex flex-column">
			<img src="~/img//Car.png" style="width:300px; height:auto;" />
			<a asp-controller="Cars" asp-action="Search"  class="bttn button-one mt-1">View Posted Cars</a>
		</div>
		<div class="d-flex flex-column">
			<img src="~/img//Hotel.png" style="width:300px; height:auto;" />
			<a class="bttn button-one mt-1">View Posted Hotels</a>
		</div >
		<div class="d-flex flex-column" >
			<img src="~/img//Airplane.png" style="width:300px; height:auto;"/>
			<a class="bttn button-one mt-1">View Posted Airplanes</a>
		</div>
	</div>
}
