<div class="center-screen mt-5">
	<h2 class="mt-5 text-center">This is a project built for COMP2139 - George Brown College by:</h2>
	<h2 class="mt-5">Elio Fezollari</h2>
	<div class="flex-row d-flex ">
		<a href="https://github.com/ElioFezollari"><i class="fa-brands fa-github fa-3x"></i></a>
		<a href="https://ca.linkedin.com/in/elio-fezollari-46a041289" class="ms-3"><i class="fa-brands fa-linkedin fa-3x"></i></a>
	</div>
	<h2 class="mt-5">Aum Zaveri</h2>
	<div class="flex-row d-flex ">
		<a href="https://github.com/ZaveriAum"><i class="fa-brands fa-github fa-3x"></i></a>
		<a href=""></a><a href="https://www.linkedin.com/in/aumzaveri/" class="ms-3"><i class="fa-brands fa-linkedin fa-3x"></i></a>
	</div>
	<h2 class="mt-5">Mia Truong</h2>
	<div class="flex-row d-flex ">
		<a href="https://github.com/duyen2310"><i class="fa-brands fa-github fa-3x"></i></a>
		<a href="https://www.linkedin.com/in/mia-truong-482140226/" class="ms-3"><i class="fa-brands fa-linkedin fa-3x"></i></a>
	</div>
</div>