@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

html {
    font-size: 14px;
}

/*Filtering Room form css */
.rooms-container {
    display: flex; /* Use flexbox to align items */
    flex-wrap: wrap;
    justify-content: space-between; /* Space out the items horizontally */
    align-items: center; /* Vertically center the items */
    background-color: #f0f0f0; /* Optional: Add a background color */
    padding: 10px; /* Optional: Add some padding */
    border: 1px solid #ddd;
}

/* Style for the heading */
.rooms-heading {
    margin: 0; /* Remove default margin */
}

/* Style for the form */
.rooms-form {
    display: flex; /* Use flexbox to align form elements */
    align-items: center;
    flex-wrap: wrap;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*Makes element inline*/
.inline-element {
    display: inline-block
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    font-family: "Rubik", sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}


.flight-action {
    display: inline-block;
}
.h-70v{
    min-height:70vh !important;
}
.user-details p{
}
.main-container {
    min-height: 70vh;
}

.footer {
    margin-top: 10vh;
    background-color: #535C91;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    width:100%;
    bottom:0;
}
    .footer a {
        color: white;
    }
    .footer a:hover {
        text-decoration: underline;
        color: #cccccc;
    }

main {
    min-height: 70vh;
    width: 100%;
    margin-bottom:15vh;
}

header {
    background-color: #535C91;
    box-shadow: 1px 1px black;
}
    header h1, header p {
        padding: 20px;
        color: #d40000;
    }
nav {
    margin: 0 auto;
    width: 90%;
}

.nav-item a {
    color: white;
}

    .nav-item a:hover {
        text-decoration: underline;
        color: #cccccc;
    }

.nav-image {
    width: 100px;
}

    .nav-image:hover {
        animation: rotateAnimation 2s ease-in-out;
    }


/*Index Page*/
.igloo {
    animation: colorChange 5s ease infinite;
}
.index-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 70vh;
}

.index-div {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 80px;
}

    .index-div p {
        margin-bottom: 0;
        color: #535C91;
    }

    .index-div h1 {
        text-transform: uppercase;
        margin-bottom: 0;
    }

.home-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*Car Index*/

/*Index Pages Models*/
.show-model {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    color:white;
}

.show-model-card {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    border-radius: 10px;
    background-color: #1B1A55;
    min-height:350px;
    padding: 20px;
}
.one-grid{
    grid-template-columns:1fr;
    margin:0 auto;
    width:50%;
}
/*Search Table*/
.table-wrap {
    overflow-x: auto
}
.search-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
    .search-table thead tr {
        background-color: #070F2B;
        color: #ffffff;
        text-align: left;
    }
.searc-table th,
.search-table td {
    padding: 12px 15px;
}
    .search-table tbody tr {
        border-bottom: 1px solid #070F2B;
    }

    .search-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

        .search-table tbody tr:last-of-type {
            border-bottom: 2px solid #070F2B;
        }
/*Utility*/
.bttn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    line-height: 1.15;
    font-size: 16px;
    text-decoration: none;
    text-decoration: none;
    text-align: center;

}
.padding{
    padding:12px 20px !important;
}
    .bttn:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1B1A55;
        color: #cccccc;
    }
.button-danger {
    background-color: #d40000;
}
.button-green {
    background-color: #539172;
}
.button-dark {
    background-color: #272b45;
}

.button-one {
    background: #535C91;
}
.button-two {
    background: #9290C3;
}
.button-three {
    background: #b1b0d4;
}
.button-four {
    background: #a7a7c2;
}

    .input-one {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: #e7ebee;
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
}

    .input-one:hover {
        box-shadow: 0 0 0 0 #fff inset, #535C91 0 0 0 2px;
    }


    .input-one:focus {
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #535C91 0 0 0 3px;
    }

.m-auto{
    margin:0 auto;
}
.form-one{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:70%;
}
.input-price-div{
    display:flex;

    justify-content:space-between;
}
.input-price{
    width:120px;
}
.input-desc{
    height:60px;
}
.cursive {
    font-family: "Caveat Brush", cursive;
}

.color-1 {
    color: #9290C3;
}

.color-2 {
    color: #535C91;
}

.color-3 {
    color: #1B1A55;
}
.color-4 {
    color: #070F2B;
}
.center-screen{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.fill-screen{
    min-height:70vh;
}
.fill-screen-sm {
    min-height: 50vh;
}
w-125{
    width:125px;
}
.w-250 {
    width: 250px;
}
.w-350 {
    width: 350px;
}
.w-500 {
    width: 500px;
}

.reset{
    border:0px;
    background-color:transparent;

}
#admin-button{
    margin-bottom:0;
}

/*Media query*/
@media (max-width: 576px) {
    #admin-main{
        flex-direction:column;
    }
    #admin-button {
        margin-bottom: 5px;
    }
    .index-div {
        padding: 20px;
    }
    #admin-main div {
        margin-top: 20px;
    }

        .index-div h1 {
            font-size: 35px;
        }
    .show-model {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 20px;
        color: white;
    }

}

@media (min-width: 576px) {
    #admin-main {
        flex-direction: column;
    }
    #admin-button {
        margin-bottom: 5px;
    }
    .index-div {
        padding: 20px;
    }

        .index-div h1 {
            font-size: 40px;
        }
        .index-div p{
            font-size:20px;
        }
    #admin-main div {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    #admin-main {
        flex-direction: column;
    }
    #admin-button {
        margin-bottom: 5px;
    }
    .index-div {
        padding: 50px;
    }
    #admin-main div {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    #admin-main {
        flex-direction: row;
    }
    #admin-main  div{
        margin-top:0px;
    }
    .index-div {
        padding: 80px;
    }
        .index-div h1 {
            font-size: 60px;
        }

        .index-div p {
            font-size: 20px;
        }
}

@media (min-width: 1200px) {
    #admin-button {
        margin-bottom: 0px;
    }
}

@media (min-width: 1400px) {
    #admin-button {
        margin-bottom: 0px;
    }
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    33.33% {
        transform: rotate(20deg);
    }

    66.66% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes colorChange {
    0% {
        color: #9290C3;
    }

    50% {
        color: #070F2B;
    }
    100% {
        color: #9290C3;
    }
}
.ml-1 {
    margin-left: 10px;
}
.mt-5{
    margin-top:50px;
}