@model List<Flight>

@{
    ViewData["Title"] = "Flight";
}

<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
        <form class="d-flex" asp-action="Search" method="get">
            <input class="form-control" type="text" placeholder="From" name="searchStringFrom" required/>
            <input class="form-control" type="text" placeholder="Going to" name="searchStringTo" required/>
            <input class="form-control" type="date" id="searchStringDepartureDate" name="searchStringDepartureDate" required />
            <button class="btn btn-outline-success" type="Submit">Search</button>
        </form>
        <p>
            <a class="btn btn-outline-primary" asp-area="" asp-action="AddFlight">Add Flight</a>
        </p>
    </body>
</html>
<script>
    // JavaScript code to set today's date as the placeholder
    var today = new Date().toISOString().slice(0, 10);
    document.getElementById("searchStringDepartureDate").setAttribute('value', today);
</script>
