@{
    ViewData["Title"] = "Cars";
}
<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
        <form class="d-flex" asp-action="Search" method="get">
            <input class="form-control" type="text" name="City" placeholder="City" required/>
            <input class="form-control" type="text" name="Brand" placeholder="Brand"/>
            <input class="form-control" type="text" name="Model" placeholder="Model" />
            <input class="form-control" type="number" name="MinPrice" placeholder="Minimum Price" />
            <input class="form-control" type="number" name="MaxPrice" placeholder="Maximum Price" />
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
        <p>
            <a class="btn btn-outline-primary" asp-area="" asp-action="Create">List a Car!</a>
        </p>
    </body>
</html>

<script>
    // JavaScript code to set today's date as the placeholder
    var today = new Date().toISOString().slice(0, 10);
    document.getElementById("searchStringDate").setAttribute('value', today);
</script>
